.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 650px;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    padding: 20px;
}