.header-wrapper {
  height: 90px;
  width: 100%;
  /* background: rgba(0,0,0,0.2); */ }

.header-flex {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px 40px;
  justify-content: space-between; }

.left, .right {
  display: flex; }

.logo {
  font-size: 40px;
  line-height: 40px;
  color: white;
  /* mix-blend-mode:hard-light; */
  /* font-weight: 600; */
  /* font-family: 'Black Ops One', cursive; */
  /* font-family: 'Faster One', cursive; */
  /* font-family: 'Bungee Inline', cursive; */
  /* font-family: 'Bungee Hairline', cursive; */
  font-family: 'Monofett', cursive;
  margin-top: -5px; }

.gitlab, .weather, .login, .signin {
  color: white;
  /* mix-blend-mode: hard-light; */
  margin: 0 20px;
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Mina', sans-serif; }

.login:hover {
  cursor: pointer;
  text-decoration: none;
  color: #ffffffbe !important; }
