@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Hairline|Bungee+Inline|Bungee+Shade|Codystar|Ewert|Faster+One|Hanalei|Kanit|Monofett|Righteous|Russo+One|Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baumans|Bungee+Inline|Graduate|Iceland|Julius+Sans+One|Mina|Play|Poiret+One|Raleway|Righteous|Russo+One|Shadows+Into+Light|Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Gugi|Jua|Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
// 한글 제목용
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Jua|Poor+Story&display=swap');

// blue: #5a90bf
// green: #c8e19d

html {
    scroll-behavior: smooth;
    overflow: hidden;
}
.v-content__wrap {
    overflow: hidden;
}
.application--wrap {
    backface-visibility: visible;
}
.application {
    font-family: 'Noto Sans KR', sans-serif;
}
.main-bg {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://source.unsplash.com/random/1600x900");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.1);
    overflow: hidden;
}
.main-wrapper {
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.body-wrapper {
    height: 100%;
    width: 100%;
    padding: 0 120px;
}
.body-flex {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    min-height: 100vh;
}
.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.col1, .col2 {
    display: flex;
}
.section-1-title {
    display: flex;
    font-size: 70px;
    color: #5a90bf;
    -webkit-text-stroke: 2.5px black;
    // font-family: 'Monofett', cursive;
    font-family: 'Sniglet', cursive;
}
.section-1-content {
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 100%;
}
.section-1-content-menu {
    display: flex;
}
.section-1-content-image {
    display: flex;
}
.section-1-scroll {
    display: flex;
    align-items: flex-end;
    height: 100px;
}
.scroll-round {
    display: flex;
    justify-content: center;
    width: 35px;
    height: 55px;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    &::before {
        content: "";
        position: relative;
        top: -10px;
        height: 14px;
        width: 2px;
        background: black;
        border-radius: 100px;
        opacity: 1;
        animation: mouse 2s infinite;
    }
}
@keyframes mouse {
    from {
        opacity: 1;
        top: -10px;
    }
    to {
        opacity: 0;
        top: 10px;
    }
}

.body-flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 130px);
    width: 100%;
    max-width: 100%;
    align-items: center;
}
.body-flex-r {
    display: flex;
    width: 100%;
}
.aboutus-image-box {
    display: flex;
    overflow: hidden;
    width: 200px;
    // height: 300px;
    border: 2px solid black;
    border-radius: 200px;
    background: white;
}
.aboutus-image {
    width: 200px;
}
a {
    color: rgba(0,0,0,1) !important;
    text-align: center;
    &:hover {
        text-decoration: none;
        color: black !important;
    }
}
ul {
    padding: 0;
}
li {
    list-style: none;
}