.menu-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 650px;
    padding-top: 40px;
}
.filter-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.country {
    display: flex;
    border: 2px solid black;
    background: #f7f7f7;
    border-radius: 10px;
    margin-bottom: 16px;
    > li {
        border-right: 2px solid black;
        padding: 18px;
        text-align: center;
        width: 600px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        &:last-of-type {
            border-right: none;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.2)
        }
    }
}
.style {
    display: flex;
    border: 2px solid black;
    background: #f7f7f7;
    border-radius: 10px;
    > li {
        border-right: 2px solid black;
        padding: 18px;
        text-align: center;
        width: 600px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        &:last-of-type {
            border-right: none;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.2)
        }
    }
}
.button-rounded {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 7px 20px;
    background: rgba(255,255,255,0);
    transition: background 1s;
    transition: color 1s;
}
.button-rounded:hover {
    background: rgba(255,255,255,0.8);
    color: black;
}