@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Hairline|Bungee+Inline|Bungee+Shade|Codystar|Ewert|Faster+One|Hanalei|Kanit|Monofett|Righteous|Russo+One|Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baumans|Bungee+Inline|Graduate|Iceland|Julius+Sans+One|Mina|Play|Poiret+One|Raleway|Righteous|Russo+One|Shadows+Into+Light|Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Gugi|Jua|Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
    scroll-behavior: smooth;
    overflow: hidden;
}
.v-content__wrap {
    overflow: hidden;
}
.application--wrap {
    backface-visibility: visible;
}
.main-bg {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://source.unsplash.com/random/1600x900");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.1);
    overflow: hidden;
}
.main-wrapper {
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.body-wrapper {
    height: 100%;
    width: 100%;
    padding: 40px 40px 40px 40px;
}
.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-1 {
    height: calc(100vh - 40px);
}
.section-2 {
    background: white;
    height: 100vh;
}
.section-3 {
    height: calc(100vh - 40px);
}
.section-1-title {
    display: flex;
    font-size: 70px;
    color: #5a90bf;
    -webkit-text-stroke: 2.5px black;
    // font-family: 'Monofett', cursive;
    font-family: 'Sniglet', cursive;
}
.section-1-scroll {
    display: flex;
    align-items: center;
    height: 160px;
}
.scroll-round {
    display: flex;
    justify-content: center;
    width: 35px;
    height: 55px;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    &::before {
        content: "";
        position: relative;
        top: -10px;
        height: 14px;
        width: 2px;
        background: black;
        border-radius: 100px;
        opacity: 1;
        animation: mouse 2s infinite;
    }
}
@keyframes mouse {
    from {
        opacity: 1;
        top: -10px;
    }
    to {
        opacity: 0;
        top: 15px;
    }
}

.body-flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 130px);
    width: 100%;
    max-width: 100%;
    align-items: center;
}
.body-flex-r {
    display: flex;
    width: 100%;
}
a {
    color: white !important;
    &:hover {
        text-decoration: none;
        color: #ffffffbe !important;
    }
}